<h1>Basket</h1>
<div *ngIf="accessControlService.isHelper()">
  <button type="button" (click)="clearBasket()">Clear Basket</button>
  <button type="button" (click)="checkoutBasket()">Checkout</button>
  <br>
  <ul class="basket">
      <li *ngFor="let need of getBasket()">
        <a routerLink="">
          {{need.name}} (x{{need.quantity}})
        </a>
        <button type="button" class="delete" title="remove need" (click)="removeFromBasket(need)">x</button>
        <button type="button" class="increment" title="increment quantity" (click)="adjustQuantity(need, 1)">+</button>
        <button type="button" class="decrement" title="decrement quantity" (click)="adjustQuantity(need, -1)">-</button>
      </li>
  </ul>
</div>
<div *ngIf="accessControlService.isAdmin()">
  <p>Admin user cannot see baskets</p>
</div>
<div *ngIf="!accessControlService.isHelper() && !accessControlService.isAdmin()">
  <p>Login to see your basket</p>
</div>
