<h3>BASKET</h3>
<div *ngIf="accessControlService.isHelper()">
  <button type="button" (click)="clearBasket()">Clear Basket</button>
  <button type="button" (click)="checkoutBasket()">Checkout</button>
  <br>
  <ul class="basket">
      <li *ngFor="let need of getBasket()">
        <a routerLink="">
          {{need.name}}
        </a>
        <button type="button" class="delete" title="remove need" (click)="removeFromBasket(need)">x</button>
      </li>
  </ul>
</div>
<div *ngIf="accessControlService.isAdmin()">
  <p>Admin user cannot see baskets</p>
</div>
<div *ngIf="!accessControlService.isHelper() && !accessControlService.isAdmin()">
  <p>Login to see your basket</p>
</div>
