.search {
  background: #20A4F3;
  padding: 1vb;
  border-radius: 10px;
}

#search-box {
  margin-left: 1vb;
  width: 50vb;
  background: #65B3E3;
  color: #f6f7f8;
  font-family: sans-serif;
  font-size: 12pt;
}
