.search {
  background: #20A4F3;
  padding: 1vb;
  border-radius: 10px;
  width: 35vw;
  display: flex;
}

#search-box {
  margin-left: 1vb;
  background: #93c4f3;
  color: #f6f7f8;
  font-family: sans-serif;
  font-size: 12pt;
  border: 5px;
  flex: 1;
  width: 100%;

}

.add_need {
  background: #ff3366;
  padding: 1vb;
  margin: 1vb;
  border-radius: 15px;
  width: 240px;

  input {
    width: 5vb;
    background: #f6f7f8;
  }

  button {
    background-color: #2EC4B6;
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 1vb;
  }

  .need_info {
    margin: 0 0.3vb 0.5vb;
  }

}

.needs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  justify-content: center;
}

.need {
  background: #20A4F3;
  padding: 1vb;
  margin: 1vb;
  border-radius: 15px;
  width: 240px;

  .helper_need_input_field {

    button {
      background-color: #2EC4B6;
      border: none;
      color: white;
      border-radius: 5px;
      margin-right: 1vb;
    }

    button:hover {
      background-color: #33d5c5;
    }

    button:active {
      background-color: #ff3366;
    }

    input {
      width: 5vb;
      background: #03355d;
      color: #f6f7f8;
    }

  }

  .need_name {
    margin: 0.5vb 0 0.5vb;
  }

  .need_info {
    margin: 0 0.3vb 0.5vb;
  }

}

.admin_need_input_field {
  margin: 0.5vb 0 0.5vb;

}

.saveButton {
  background-color: #2EC4B6;
  border: none;
  color: white;
  border-radius: 5px;
  margin-right: 1vb;
}

.saveButton:hover {
  background-color: #33d5c5;
}

.saveButton:active {
  background-color: #ff3366;
}

.removeButton {
  background-color: #ff3366;
  border: none;
  color: white;
  border-radius: 5px;
  margin-right: 1vb;
}

.removeButton:hover {
  background-color: #fc6a8c;
}

.removeButton:active {
  background-color: #2EC4B6;
}

@media (max-width: 600px) {
  .search {
    width: 95%;
  }
}
