<h2>Cupboard</h2>

<div *ngIf="accessControl.isAdmin()">
  
  <h2>Hello, Admin</h2>

</div>

<div *ngIf="accessControl.isHelper()">
  <h3>Welcome, helper</h3>
  <label for="Search Needs"> Need-Search:</label>
  <input #searchBox id="search-box" (input)="searchCharacter(searchBox.value)">
  <ul >
    <li *ngFor="let need of needs">  
      <span>
        id: {{need.id}}, name: {{need.name}}, type: {{need.type}}, quantity: {{need.quantity}}, price: {{need.price}}
        <button type="button" class="add-button" (click)="add(need.name);"> ADD Need</button>
      </span>
    </li>
    <li><a routerLink="/about">About</a></li>

    
  </ul>
</div>
