<div class="bubbleBlue">
    <h3>FORGOT PASSWORD</h3>
    <div class="passwordFields">
      Username: <input #username type="text" placeholder="Username"><br>
      New Password: <input #password type="text" placeholder="Password"><br>
      Confirm New Password: <input #checkPassword type="text" placeholder="Password"><br>
    </div>
    <div *ngIf="charErrorVisible"  style="color:red">
        Username must be between 1 and 20 characters
    </div>
    <div *ngIf="passwordCharErrorVisible"  style="color:red">
        Password must be between 1 and 20 characters
    </div>
    <div *ngIf="passwordDontMatch"  style="color:red">
        Passwords do not match
    </div>
    <div *ngIf="usernameNotInUse"  style="color:red">
        The username you entered is not in use
    </div>
    <div *ngIf="passwordChanged"  style="color:green">
        Password successfully changed
    </div>
  
    <button type="button" class="changePasswordButton" (click) = "changePassword(username, password, checkPassword)">Change Password</button> <br>
  
    <button type="button" routerLink="/login">Back to Login</button>
  
  </div>